.popup__input {
    box-sizing: border-box;
    width: -webkit-fill-available;
    margin: 0 36px 30px;
    padding: 0 0 13px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
}

.popup__input:nth-child(2) {
    margin-bottom: 48px;
}

@media (max-width: 450px) {
    .popup__input {
        margin: 0 22px 30px;
    }
    .popup__input:nth-child(2) {
        margin-bottom: 45px;
    }
}