.profile__info {
    display: flex;
    max-width: 350px;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 680px) {
.profile__info {       
    justify-content: center;
    margin-bottom: 36px;
    }
}